.navleft {
    .logo {
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 20px;

        h1 {
            color: #FFF;
            font-size: 15px;
            width: 120px;
            margin-left: 15px;
        }
    }
}